<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>Broadcast | Live Stream Music</title>

</head>

<body>

    <header>
        <h1>Live Stream Music</h1>
    </header>

    <hr>

    <!-- <nav> is for major blocks of navigation links. -->
    <nav>
        <a href="index.html">Index</a> |
        <a href="broadcast.html">Broadcast</a> |
        <a href="player.html">Player</a> |
        <a href="sign-up.html">Sign Up</a>
    </nav>

    <hr>

    <h2>Broadcast</h2>

    <!-- To preview what will be broadcast, provide the SDK with a <canvas> element. -->
    <canvas id="preview"></canvas>

    <br />

    <button id="start">Start Broadcast</button>

    <br />

    <br />

    <button id="stop">Stop Broadcast</button>

    <hr>

    <footer>
        <p>Author: Hugh Wilfred Culling</p>
        <p><a href="mailto:hughculling@icloud.com">hughculling@icloud.com</a></p>
    </footer>

</body>

</html>