<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>Live Stream Music</title>
    

</head>

<body>

    <!-- <header> typically contains: a) heading elements, b) logo or icon, c) introductory content. -->
    <header>
        <h1>Live Stream Music</h1>
    </header>

    <hr>

    <!-- <nav> is for major blocks of navigation links. -->
    <nav>
        <a href="index.html">Index</a> |
        <a href="broadcast.html">Broadcast</a> |
        <a href="player.html">Player</a> |
        <a href="sign-up.html">Sign Up</a>
    </nav>

    <hr>

    <!-- <footer> typically contains: a) authorship information, b) contact information. -->
    <footer>
        <p>Author: Hugh Wilfred Culling</p>
        <p><a href="mailto:hughculling@icloud.com">hughculling@icloud.com</a></p>
    </footer>

</body>

</html>