<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>Sign Up | Live Stream Music</title>

</head>

<body>

    <!-- <header> typically contains: a) heading elements, b) logo or icon, c) introductory content. -->
    <header>
        <h1>Live Stream Music</h1>
    </header>

    <hr>

    <!-- <nav> is for major blocks of navigation links. -->
    <nav>
        <a href="index.html">Index</a> |
        <a href="broadcast.html">Broadcast</a> |
        <a href="player.html">Player</a> |
        <a href="sign-up.html">Sign Up</a>
    </nav>

    <hr>

    <!-- A section is a thematic grouping of content, typically with a heading. -->
    <section>

        <h2>Sign Up</h2>

        <form>
            <!-- The 'for' attribute should be equal to the 'id' of the 'input' element to bind them together. -->
            <label for="name">Name:</label>
            <br>
            <!-- If the name attribute is omitted, the value of the input field will not be sent at all. -->
            <input type="text" id="name" name="name">
            <br>
            <label for="email">Email:</label>
            <br>
            <input type="email" id="email" name="email">
            <br>
            <label for="password">Password:</label>
            <br>
            <input type="password" id="password" name="password">
            <br>
            <br>
            <input type="submit">
        </form>

    </section>

    <hr>

    <footer>
        <p>Author: Hugh Wilfred Culling</p>
        <p><a href="mailto:hughculling@icloud.com">hughculling@icloud.com</a></p>
    </footer>

</body>

</html>